{% extends "base.html" %}
{% block title %}Produto{% endblock %}

{% block page_content %}
<div class="Produto_Id">
    <ul>
        <li>Nome do Jogo: {{product.nome}}</li>
        <li>Descrição: {{product.description}}</li>
        <li>Editora: {{product.editora}}</li>
        <li>Preço: R${{product.preco | replace(".", ",")}}</li>
        <li>Faixa Etária: {{product.faixa_etaria}}</li>
        <li>Número de Jogadores: {{product.numero_de_jogadores}}</li>
    </ul>
</div>
<div class="return">
    <a href="/">Voltar</a>
</div>
{% endblock %}