
.menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 300px;

}

.menu>ul>li{
    margin-top: 20px;
    margin-left: 10px;
}

.selectOption{
    margin-left: 10px;
}

.menu>ul>li>a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: large;
    color: black;
    
}

.menu>ul>li>a:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: large;
    text-decoration: none;
    color: red;
}

.consumerForm{
    display: flex;
    background-color: #FBFCF8;
    border-radius: 3px;
    padding: 1.8em;
    align-content: space-around;
}


.destinyEdit{
    display: flex;
    background-color: #FBFCF8;
    border-radius: 3px;
    padding: 1.8em;
    flex-direction: column;
    align-content: space-around;

}

.consumerForm>div>div{
    margin-bottom: 10px;
}

.destinyEdit>div{
    margin: 10px;
}

.return>button{
    border-color: blue;
    color: blue;
}

.return>button:hover{
    border-color: blue;
    background-color: blue;
    color: white;
}


.return>button>a{
    color: black;
}

.return>button>a:hover{
    text-decoration: none;
    color: white;
}

.productAdd{
    display: flex;
    background-color: #FBFCF8;
    border-radius: 3px;
    padding: 1.8em;
    flex-direction: column;
    align-content: space-between;
}

.productAdd>div>div{
    margin-bottom: 10px;
}

.productEdit{
    display: flex;
    background-color: #FBFCF8;
    border-radius: 3px;
    padding: 1.8em;
    flex-direction: column;
    align-content: space-between;
}

.productEdit>div>div{
    margin-bottom: 10px;
}

.jogo-principal{
    font-size: 16px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jogo-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin: 1px;
}

.jogo-principal .sub-titulo{
    text-align: center;
}

.jogo-principal .titulo{
    margin-top: 1%;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.jogo-principal .botoes button{
    margin:0 auto;
    display:block;
}

.container{
    margin-left: 10px;
    
}

.jogo-principal .container{
    width: 70%;
}

.item{
    float:left;
}


.jogo-principal .img_home img  {
    max-width: 25%;
    max-height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homeshow-lista-jogos {
    margin-top:100px;
}

.homeshow-lista-jogos .titulo{
    margin-top:20px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homeshow-lista-jogos .owl-carousel{
    margin-top:30px;
}