
.menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 300px;

}

.menu>ul>li{
    margin-top: 20px;
}

.menu>ul>li>a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: large;
    color: black;
    
}

.menu>ul>li>a:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: large;
    text-decoration: none;
    color: black;
}

.jogo-principal{
    font-size: 16px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.jogo-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.jogo-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container{
    margin-left: 20px;
}

.jogo-principal .container{
    width: 70%;
}

.item{
    float:left;
}